/* CSS reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
}

#riferimenti {
	background-color: #689f38;
	padding: 0.8em;
	text-align: center;
}

li {
display: inline;
margin:20px
}

a {
	color: white;
}

#sfondo img {
	max-width: 100%;
}
/* section news */

article h3 img p footer {
	max-width: 25%;
}