* {
    margin: 0;
    padding: 0;
}

div {
    max-width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

p {
    text-align: justify;
}