section {
    width: 90%;
}

article {
    width: 48%;
    border: 2px solid black;
    display: inline;
}

.floatsin {
    float: left;
}

.floatdx {
    float: right;
}

span {
    display: block;
}