* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#riferimenti ul li a:link {
    text-decoration: none;
    color: black;
    font-size: x-small;
}

#riferimenti ul li {
    list-style: none;


}

#riferimenti ul li:nth-child(1) {
    float: left;
    margin: 0.5em;
}

#riferimenti ul li:nth-child(2) {
    float: right;
    margin: 0.5em;
}

#menu {
    clear: both;
    text-align: center;
    background-color: #0097A7;
    color: white;
    box-shadow: 0px 1px 3px black;
    padding: 0.5em;
    position: sticky;
    top: 0px;
}

h2 {
    text-shadow: 2px 2px 2px #333;
    font-size: xx-large;
    text-align: center;
    margin: 0.5em;
}

#motto {
    width: 100%;
    height: 180px;
    background-image: url(./sfondo2.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-decoration: overline;
    margin-top: 16px 0;

}

#pellicola {
    height: 180px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#servizi {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#servizi article {
    text-align: center;
    margin: 1em;
}

h3 {
    margin: 1em 1em 0em 1em;

}

button {
    margin: 0.5em 1em 3em 1em;
}

#news {
    width: 80%;
    margin: 0 auto;
    column-count: 4;
    column-rule: 1px solid black;
    text-align: justify;
    column-gap: 1em;
}

#gallery1 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

#gallery1 .galleria {
    background-image: url(./sfondo.jpg);
    background-size: cover;
    border: 1px solid black;
    height: 100px;
}

#gallery2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}
#gallery2 .galleria:nth-child(1),
#gallery2 .galleria:nth-child(7) {
    background-image: url(./sfondo.jpg);
    background-size: cover;
    border: 1px solid black;
    height: 100px;
    grid-column: span 2;
}
#gallery2 .galleria:nth-child(2),
#gallery2 .galleria:nth-child(4),
#gallery2 .galleria:nth-child(6) {
    background-image: url(./sfondo.jpg);
    background-size: cover;
    border: 1px solid black;
    height: 100px;
}
#gallery2 .galleria:nth-child(3),
#gallery2 .galleria:nth-child(5) {
    background-image: url(./sfondo.jpg);
    background-size: cover;
    border: 1px solid black;
    height: 100px;
    grid-row: span 2;
}

#chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: green;
    background-color: lightgray;
    padding: 1em;
    border-radius: 10%;
}
@media screen and (max-width:768px) {
    #servizi {
        display: block;
        margin: 1em;
    }
    #news {
        width: 90%;
        margin: 0 auto;
columns: unset;
        text-align: justify;

    }
}